header {
    background: url(images/central_park.jpg) 0 -200px no-repeat; /* place image as background */
    height: 400px; /* give header some height to display the background image */
    background-size: 1900px;
    /*background-position:0  -200px; */
    /*background-repeat: no-repeat; no tile repeat*/
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: rgb(255,245,238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a {
    text-decoration: none; /*remove underline */
}
/* Pseudo class - to style text links */
li a:link {
    color: #000 /*before click */
}
li a:visited {
    color:#818db3 /*after click */
}
li a:hover {
    color:#333 /*mouse over */
}
li a:active {
    color:#753a30 /*mouse down */
}
nav {
    background-color: rgb(255,245,238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
main {
    height: 400px;
}
main h1 {
    color: rgb(129,141,179);
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211,218,240)
}